html,
body {
  background-color: rgb(78, 188, 212);
}

.container {
  width: 60vw;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 150px;
  left: 250px;
}

.animal {
  background-color: rgba(7, 103, 124, 0.669);
  padding: 60px;
  font-size: 35px;
}

.animal span {
  z-index: 0;
  display: none;
}
